## D2H Copy Engine (DMA) - 8 GPUs
## G0-G3 use C0, G4-G7 use C1
1 8 (G0->D0->C0)
1 8 (G1->D1->C0)
1 8 (G2->D2->C0)
1 8 (G3->D3->C0)
1 8 (G4->D4->C1)
1 8 (G5->D5->C1)
1 8 (G6->D6->C1)
1 8 (G7->D7->C1)
