## D2H SM (GPU executor) - 8 GPUs
## G0-G3 use C0, G4-G7 use C1
1 8 (G0->G0->C0)
1 8 (G1->G1->C0)
1 8 (G2->G2->C0)
1 8 (G3->G3->C0)
1 8 (G4->G4->C1)
1 8 (G5->G5->C1)
1 8 (G6->G6->C1)
1 8 (G7->G7->C1)
