## H2D Copy Engine (DMA) - 8 GPUs
## G0-G3 use C0, G4-G7 use C1
1 8 (C0->D0->G0)
1 8 (C0->D1->G1)
1 8 (C0->D2->G2)
1 8 (C0->D3->G3)
1 8 (C1->D4->G4)
1 8 (C1->D5->G5)
1 8 (C1->D6->G6)
1 8 (C1->D7->G7)
